*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

:root{
    --orange : hsl(25, 97%, 53%);
    --white : hsl(0, 0%, 100%);
    --light-gray : hsl(217, 12%, 63%);
    --medium-gray : hsl(216, 12%, 54%);
    --dark-blue : hsl(213, 19%, 18%);
    --very-dark-blue : hsl(216, 12%, 8%);

    --ff-font : 'Overpass', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--very-dark-blue);
    font-family: var(--ff-font);
}

.container{
    width: 30%;
    margin: 0 auto;
    background-color: var(--dark-blue);
    padding: 2em;
    border-radius: 1.5em;
    min-width: 410px;
    display: flex;
    flex-direction: column;
}


.thank-you-container{
    display: none;
}

.star-icon{
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 50%;
    width: 14%;
    background-color: hsl(216, 12%, 54%, .1);
}

.heading{
    text-align: left;
    color: var(--white);
    font-size: 1.7em;
    margin-bottom: .2em;
}

.content{
    text-align: left;
    width: 95%;
    margin-bottom: 1.4em;
    color: var(--light-gray);
    font-size: .9em;
}

.rating-content{
    display: flex;
    margin-bottom: 1.4em;
}

.rating{
    display: flex;
    padding: 1em 1.45em;
    background-color: hsl(216, 12%, 54%, .15);
    margin-right: 1em;
    border-radius: 50%;
    color: var(--light-gray);
    font-weight: 400;
    font-size: 1em;
    cursor: pointer;
}

.rating:hover{
    background-color: var(--light-gray);
    color: var(--white);
}

.active{
    background-color: var(--orange);
    color: var(--white);
}

.btn{
    text-align: center;
    width: 100%;
    padding: .9em 0;
    border-radius: 2em;
    border: none;
    background-color: var(--orange);
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    cursor: pointer;
}

.btn:hover{
    background-color: var(--white);
    color: var(--orange);
}


/* ========= thank you container ========= */

.thank-you-container,
.heading-center,
.content-center{
    text-align: center;
}


.thank-you-image{
    width: 40%;
    margin: 0 auto;
}

.thank-you-title{
    padding: .5em;
    width: 55%;
    margin: 0 auto;
    margin-top: 1.6em;
    border-radius: 2em;
    background-color: hsl(216, 12%, 54%, .1);
    color: hsl(25, 97%, 53%, .75);
}

.heading-center{
    font-size: 1.5em;
    margin-top: 1em;
}